@charset "utf-8";
/* 스타일 초기화 */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/* 숨김 콘텐츠 */
.readable-hidden{
    background:teal;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}
/* 기본 스타일 */
body{
    color: #181818;
    font-size: 1.4rem;
}
/* 컨테이너 */
.container{
    background: linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%);
}
.header, .visual, .main, .slogan, .footer{
    width: 940px;
    margin: 0 auto;
}
.bg-footer{
    background:  linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%);
}
/* 헤더 */
.header{
    position: relative;
    background: #fff;
    padding: 0 30px 45px;
    border-radius: 0 0 15px 15px;
    
}
/* 로고 */
.logo{
    position: absolute;
    top: 45px;
    left: 65px;
}
/* 안내링크 */
.member{
    text-align: right;
    font-size: 0;
    position: relative;
    right: -10px;
}
.member li {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 2px 0;

}     
.member a{
    padding: 5px, 10px;
}

.menu{
    background: #e8852e linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
    margin-top: 10px;
}
/* 비주얼 */
.visual{
    height: 120px;
}
/* 메인 콘텐츠 */
.main{
    background: lime;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.group1{
    background: pink;
    width: 250px;
}
.group2{
    background: pink;
    width: 380px;
}
.group3{
    background: pink;
    width: 190px;
}